Source: openresty-lua-cjson
Maintainer: Hiroaki Nakamura <hnakamur@gmail.com>
Uploaders: Hiroaki Nakamura <hnakamur@gmail.com>
Build-Depends: debhelper (>= 9), libluajit-5.1-dev, luajit
Standards-Version: 3.9.3
Section: interpreters
Priority: optional
Homepage: https://github.com/openresty/lua-cjson

Package: openresty-lua-cjson
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: ${lua:Provides}
XB-Lua-Versions: ${lua:Versions}
Description: JSON parser/encoder for Lua
 This library allows you to easily convert Lua values to JSON strings and back.
 Features:
  * Fast, standards compliant encoding/parsing routines
  * Full support for JSON with UTF-8, including decoding surrogate pairs
  * Optional run-time support for common exceptions to the JSON
    specification (infinity, NaN,..)
  * No dependencies on other libraries

Package: openresty-lua-cjson-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, openresty-lua-cjson (= ${binary:Version})
Provides: ${lua:Provides}
XB-Lua-Versions: ${lua:Versions}
Description: JSON parser/encoder for Lua, development files
 This package contains the development files of the openresty-lua-cjson library,
 useful to create a statically linked binary (like a C application or a
 standalone Lua interpreter).
 Documentation is also shipped within this package.
